

  :root{
    --color-white:#FFFFFF;
    --color-navy:#05386b;
    --color-darkGreen: #379683;
    --color-green:#5cdb95;
    --color-lightGreen: #8ee4af;
    --color-cream: #edf5e1;
    --color-black: #000000;
    --color-gray: #808080;
}
  
  body {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    text-align: center;
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-white);
  }
  
  h1 {
    margin-bottom: 4px;
  }
  
  img {
    width: 64px;
    height: 64px;
  }

  h4{
    margin-bottom: 2px;
  }
  
  .tagline {
    margin-top: -20px;
    font-style: italic;
  }
  /* Style the tab */
  .tab {
    overflow: hidden;
    color: var(--color-navy);
    border: 1px solid var(--color-lightGreen);
    background-color: var(--color-green);
    text-align: center;
    margin-bottom: 20px;
    }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: var(--color-navy);
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--color-lightGreen);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--color-lightGreen);
  }

  
  /* Style the tab content */
  .tabcontent {
    display: block;
    margin-top: 12px;
    padding: 6px 12px;
    background-color: none;
    text-align: left;
  }
  
  .block-button {
    border: none;
    display: inline-block;
    margin-top: 10px;
    background-color: var(--color-lightGreen);
    color: var(--color-navy);
    padding: 16px 32px;
    font-weight: bold;
    font-size: 15px;
  }
  
  /* 
    code below taken from w3schools.
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_bottom
  */ 
  
  /* The Modal (background) */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color:var(--color-black); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: var(--color-cream);
    color: var(--color-black);
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: var(--color-white);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: var(--color-green);
    color: var(--color-white);
  }
  
  .modal-body {
    padding: 2px 16px;
    text-align: left;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: var(--color-green);
    color:var(--color-white);
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  .signature {
    width:100%;
    height: 40px;
    background-color: var(--color-navy);
    color: var(--color-white);
    text-align: center;
    line-height: 5px;
    margin-top: 170px;
    margin-left: -8px;
}
